@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
}

/*  Establish variables */
/* :root{

} */

.holds-contact-section{
    display: flex;
    flex-direction: column;
    margin: 3.3rem;
    
}
.holds-contact-section-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.contact-form-right{
    min-width: 50%;
}




#map{
    max-width: 100%;
    border: 3px solid black;
    height: 300px;
}