

html {
  scroll-behavior: smooth;
  /* background-color: #9CADCE; */
  background: linear-gradient(#141e30, #243b55);
  /* margin: 1rem; */
}



.intro-big{
  /* color: white; */
  font-family: 'League Spartan', sans-serif;
  font-size: 3em;
  color: #fff;
}

.sub-intro-med{
  font-family: 'League Spartan', sans-serif;
  font-size: 1.8em;
  margin-top: -.5rem;
  color: #fff;
}

.para-text-small{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.2em;
  margin-top: -1rem;
  font-weight: 500;
  color: #fff;
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
