@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Open+Sans:ital,wght@1,300&display=swap');

*{
    box-sizing: border-box;
}

/*  Establish variables */
:root{
    --headerAfterScroll: #566582;
    --hoverComp: #A17423;
    /* --headerAfterScrollPt2: #03e9f4; */
}

/* Anchor tags no styling */
a, 
a:hover, 
a:focus, 
a:active {
    text-decoration: none;
    color: inherit;
}

.header-class{
    /* position: sticky; */
    top: 0;
    margin: 0%;
    z-index: 1;
}

/* If needed to change header color  on scroll */
.header-class-onscroll{
    background-color: var();
}

/* Navbar classes */
.navbar-everything{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
    /* padding: .5rem;
    margin: 1rem; */
}

.myLogo-img{
    width: 30%;
    display: block;
    /* margin-left: 1rem; */
}

/* .navbar-div-img{
    
} */

.navbar-elements{
    display: flex;
    flex-direction: row;
    align-items: center;
    /* padding: .5rem; */
}

.element-in-navbar{
    padding: .5rem;
    font-family: 'League Spartan', sans-serif;
    font-size: 1.3em;
    color: #fff;
}
.element-in-navbar:hover{
    color: var(--hoverComp);
    font-size: 200%;
    margin: 0;
    transition: all .4s ease-in-out;
}
/* To use with whatever part of the page the user is on. It will get highlighted in the navbar */
/* .foractive-underNavbar{
    background-color: white;
    width: 100%;
    height: 10px;
    margin-top: 0;
} */

