@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Open+Sans:ital,wght@1,300&display=swap");

* {
  box-sizing: border-box;
}

/*  Establish variables */
:root {
  --maincolor2: #a17423;
}

/* Anchor tags no styling */
a,
a:hover,
a:focus,
a:active {
  text-decoration: none;
  color: inherit;
}

.div-padding-aboutme{
    padding: 1.5rem;
}
.type-words {
  height: 3rem;
  width: auto;
  font-family: "League Spartan", sans-serif;
  font-size: 3em;
  color: #A17423;
  margin-left: 1rem;
}

.holds-everything {
  margin: 3.3rem;
}
.underline-name {
  border-bottom: 2px solid var(--maincolor2);
}

.holds-both-sides {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* margin: 3rem; */
  width: 100%;
}

.leftside-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;
}

.rightside-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}

.animate-homepage-img {
  width: 40%;
}

@media screen and (max-width: 700px) {
  .holds-both-sides{
    flex-direction: column;
  }
  .holds-everything{
    margin-top: 0;
  }
  .sub-intro-med{
    margin-top: 2.5rem;
  }
  .para-text-small{
    margin: 0;
  }
  /* .type-words.type-words{
    margin: 0;
  } */
  .leftside-text{
    width: auto;
  }
  .rightside-text{
    width: auto;
    margin-top: 1.5rem;
  }
}

